In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('batch2_jobID_00B80TR.csv')

In [3]:
data.head()

,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis,salary
0,COMP37,CFO,MASTERS,MATH,HEALTH,10,83,130
1,COMP19,CEO,HIGH_SCHOOL,NONE,WEB,3,73,101
2,COMP52,VICE_PRESIDENT,DOCTORAL,PHYSICS,HEALTH,10,38,137
3,COMP38,MANAGER,DOCTORAL,CHEMISTRY,AUTO,8,17,142
4,COMP7,VICE_PRESIDENT,BACHELORS,PHYSICS,FINANCE,8,16,163

In [4]:
#(Даша)середня зарплата всіх навчальних ступенів серед всіх індустрій ( можна помітити що чим вище освіта, тим вище заробіток)
def ch_col(df):
    return pd.Series(df.groupby("degree").salary.mean())
data.groupby("industry").apply(ch_col).loc[:, ["DOCTORAL", "MASTERS", "BACHELORS", "HIGH_SCHOOL", "NONE"]]

degree       DOCTORAL     MASTERS   BACHELORS  HIGH_SCHOOL        NONE
industry
AUTO       128.069359  123.239183  118.234848    95.805843   92.340695
EDUCATION  118.323663  113.140163  107.975063    86.298461   82.281235
FINANCE    150.635400  145.283442  140.375583   116.183275  112.638157
HEALTH     135.117068  130.545277  125.444964   101.549296   97.286797
OIL        150.744987  145.605445  140.997392   116.307842  112.646407
SERVICE    123.018179  118.299083  113.233762    91.241363   87.404719
WEB        142.313758  137.235639  132.100092   105.994693  102.748705

In [5]:
#(Даша) кількість працівників, середній досвід працівників, середня зарплата в кожній компаніі
def ret_col(df):
    return pd.Series([df.jobType.count(), df.yearsExperience.mean(), df.salary.mean()], index=["Count of employee", "mean year exp", "mean salary"])
data.groupby("companyId").apply(ret_col).sort_values(by="mean salary", ascending=False)

           Count of employee  mean year exp  mean salary
companyId
COMP40               16008.0      11.983821   116.783171
COMP2                15641.0      12.040087   116.759223
COMP44               16005.0      11.956826   116.673602
COMP13               15956.0      12.101968   116.561795
COMP21               15949.0      11.940498   116.539156
COMP41               15859.0      12.077180   116.515543
COMP9                15988.0      12.001939   116.453340
COMP58               15961.0      12.066600   116.446275
COMP34               15810.0      12.031436   116.394813
COMP29               15754.0      12.004380   116.387457
COMP16               15783.0      11.980929   116.358424
COMP61               15822.0      11.983757   116.318607
COMP17               15715.0      11.904232   116.315940
COMP14               15908.0      12.053307   116.303495
COMP51               16005.0      12.120962   116.290222
COMP62               15943.0      12.014928   116.279872
COMP49               15779.0      12.091894   116.269535
COMP23               15918.0      11.980085   116.261277
COMP60               15799.0      11.890753   116.236407
COMP25               15932.0      11.974831   116.232174
COMP4                15918.0      11.923483   116.230808
COMP52               15737.0      11.904048   116.224249
COMP22               15907.0      11.964733   116.207644
COMP38               15819.0      12.046906   116.199380
COMP3                16028.0      12.033941   116.199339
COMP24               15831.0      11.962795   116.176489
COMP6                15837.0      12.022290   116.146998
COMP56               15979.0      12.025283   116.134865
COMP11               15872.0      12.021673   116.113029
COMP36               15891.0      11.994148   116.092065
...                      ...            ...          ...
COMP46               15967.0      12.049665   116.043715
COMP10               15909.0      11.878245   116.019800
COMP33               15801.0      12.040820   116.019619
COMP8                15638.0      12.043995   115.989641
COMP32               15958.0      12.022559   115.974370
COMP0                15666.0      12.075195   115.963615
COMP26               15750.0      11.997968   115.959683
COMP27               15773.0      11.952831   115.953528
COMP47               15796.0      12.026272   115.948785
COMP28               15794.0      11.977017   115.943206
COMP20               15910.0      12.021370   115.934192
COMP5                15798.0      11.939803   115.906191
COMP7                15767.0      11.968986   115.888501
COMP50               15791.0      12.042809   115.872459
COMP59               16066.0      11.996888   115.870161
COMP15               15901.0      11.923149   115.847117
COMP43               15955.0      12.034347   115.800063
COMP48               15930.0      12.058757   115.793660
COMP35               16114.0      11.940921   115.774668
COMP19               15958.0      11.882065   115.756548
COMP30               16041.0      11.930304   115.659435
COMP45               15850.0      12.048454   115.649274
COMP55               15767.0      11.888438   115.623708
COMP31               15756.0      11.944021   115.622239
COMP18               15957.0      11.900420   115.597167
COMP54               15977.0      11.963135   115.589785
COMP42               15944.0      12.026844   115.476794
COMP57               15635.0      11.920243   115.393540
COMP37               15905.0      11.962905   115.345049
COMP53               15776.0      12.053753   115.342355

[63 rows x 3 columns]

In [6]:
#(Даша)в якій індустрії найбільше менеджерів
data[data.jobType == "MANAGER"].industry.value_counts().idxmax()

'AUTO'

In [7]:
#(Cаша) Яка середня зарплата джуніора у сфері веб
round(data[(data.jobType == 'JUNIOR') & (data.industry == "WEB")].salary.sum() / len(data[(data.jobType == 'JUNIOR') & (data.industry == "WEB")].index))

101

In [8]:
#(Саша) В якій сфері найбільша середня заробітня плата
data.groupby("industry").salary.mean().idxmax()

'OIL'

In [9]:
# (Саша)Який відсоток працівників які займають високі посади не мають вищої освіти
a = len(data[((data.degree == 'HIGH_SCHOOL') | (data.degree == 'NONE')) & ((data.jobType == 'CFO') | (data.jobType == 'MANAGER') | (data.jobType == 'CEO') | (data.jobType == 'SENIOR') | (data.jobType == 'VICE_PRESIDENT') | (data.jobType == 'CTO'))].index)
b = len(data[(data.jobType == 'CFO') | (data.jobType == 'MANAGER') | (data.jobType == 'CEO') | (data.jobType == 'SENIOR') | (data.jobType == 'VICE_PRESIDENT') | (data.jobType == 'CTO')].index)
c = round(a/b *100 , 2)
c = str(c) + '%'
c

'39.84%'

In [10]:
#(Настя)Посортувати компанії в яких промисловість "здоров'я", від найменшої заробітньої плати до найбільшої
data.loc[data.industry == "HEALTH"].sort_values(by="salary")

,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis,salary
615182,COMP5,JANITOR,NONE,NONE,HEALTH,0,95,28
850050,COMP56,JANITOR,HIGH_SCHOOL,NONE,HEALTH,1,91,29
142652,COMP47,JANITOR,HIGH_SCHOOL,NONE,HEALTH,3,90,29
821170,COMP51,JANITOR,NONE,NONE,HEALTH,0,94,29
536536,COMP11,JANITOR,NONE,NONE,HEALTH,0,91,29
597027,COMP31,JANITOR,NONE,NONE,HEALTH,2,97,29
137950,COMP8,JANITOR,NONE,NONE,HEALTH,0,94,30
233606,COMP55,JANITOR,HIGH_SCHOOL,NONE,HEALTH,5,99,30
238372,COMP38,JANITOR,NONE,NONE,HEALTH,0,94,30
556021,COMP14,JANITOR,HIGH_SCHOOL,NONE,HEALTH,0,92,30
934727,COMP43,JANITOR,NONE,NONE,HEALTH,0,93,30
555411,COMP40,JANITOR,HIGH_SCHOOL,NONE,HEALTH,1,92,30
240643,COMP14,JANITOR,NONE,NONE,HEALTH,1,85,30
974409,COMP62,JANITOR,NONE,NONE,HEALTH,1,90,30
225920,COMP6,JANITOR,NONE,NONE,HEALTH,2,99,30
785120,COMP25,JANITOR,HIGH_SCHOOL,NONE,HEALTH,0,91,30
689721,COMP36,JANITOR,HIGH_SCHOOL,NONE,HEALTH,1,96,30
876150,COMP38,JANITOR,NONE,NONE,HEALTH,1,91,30
603193,COMP43,JANITOR,NONE,NONE,HEALTH,0,99,30
509352,COMP54,JANITOR,HIGH_SCHOOL,NONE,HEALTH,1,92,31
641111,COMP57,JANITOR,NONE,NONE,HEALTH,0,98,31
433086,COMP45,JANITOR,HIGH_SCHOOL,NONE,HEALTH,0,90,31
973513,COMP52,JANITOR,NONE,NONE,HEALTH,1,71,31
334716,COMP47,JANITOR,NONE,NONE,HEALTH,1,91,31
581868,COMP13,JANITOR,HIGH_SCHOOL,NONE,HEALTH,3,99,31
414926,COMP41,JANITOR,HIGH_SCHOOL,NONE,HEALTH,1,91,31
150559,COMP35,JANITOR,NONE,NONE,HEALTH,2,86,31
861845,COMP26,JANITOR,NONE,NONE,HEALTH,2,75,31
844994,COMP7,JANITOR,HIGH_SCHOOL,NONE,HEALTH,5,92,31
377562,COMP33,JANITOR,NONE,NONE,HEALTH,1,82,31
...,...,...,...,...,...,...,...,...
263972,COMP0,CEO,MASTERS,MATH,HEALTH,21,6,253
74207,COMP13,CEO,MASTERS,BIOLOGY,HEALTH,21,12,253
52646,COMP56,CEO,MASTERS,CHEMISTRY,HEALTH,17,4,253
811564,COMP6,CEO,BACHELORS,COMPSCI,HEALTH,21,12,253
9288,COMP10,CTO,DOCTORAL,BIOLOGY,HEALTH,23,18,254
239729,COMP44,CEO,MASTERS,BIOLOGY,HEALTH,23,20,254
483877,COMP25,CEO,DOCTORAL,CHEMISTRY,HEALTH,22,27,254
364806,COMP57,CEO,MASTERS,BIOLOGY,HEALTH,19,19,254
802514,COMP18,CFO,DOCTORAL,CHEMISTRY,HEALTH,24,7,255
221657,COMP43,CEO,DOCTORAL,ENGINEERING,HEALTH,22,26,255
709075,COMP33,CTO,MASTERS,BUSINESS,HEALTH,24,0,256
745874,COMP41,CTO,MASTERS,ENGINEERING,HEALTH,24,0,257
587670,COMP34,VICE_PRESIDENT,DOCTORAL,CHEMISTRY,HEALTH,24,23,257
594392,COMP43,CEO,MASTERS,CHEMISTRY,HEALTH,20,26,258
862948,COMP40,CEO,MASTERS,BUSINESS,HEALTH,23,6,258
66930,COMP10,CEO,DOCTORAL,CHEMISTRY,HEALTH,19,11,258
345020,COMP9,CEO,DOCTORAL,PHYSICS,HEALTH,24,16,259
176630,COMP21,CEO,MASTERS,CHEMISTRY,HEALTH,23,32,259
979759,COMP4,CTO,MASTERS,CHEMISTRY,HEALTH,24,7,260
970114,COMP13,CEO,MASTERS,CHEMISTRY,HEALTH,19,0,260
58798,COMP34,CEO,DOCTORAL,CHEMISTRY,HEALTH,17,2,260
950975,COMP4,CEO,DOCTORAL,ENGINEERING,HEALTH,22,2,262
18304,COMP30,CFO,DOCTORAL,CHEMISTRY,HEALTH,22,2,263
797353,COMP14,CTO,DOCTORAL,CHEMISTRY,HEALTH,22,1,266
319625,COMP52,CEO,BACHELORS,BIOLOGY,HEALTH,24,2,267
249433,COMP45,CEO,MASTERS,PHYSICS,HEALTH,22,6,267
535488,COMP10,CEO,DOCTORAL,COMPSCI,HEALTH,24,6,267
122713,COMP21,CEO,DOCTORAL,CHEMISTRY,HEALTH,23,0,269
208060,COMP38,CEO,DOCTORAL,COMPSCI,HEALTH,24,2,275
665109,COMP8,CEO,MASTERS,CHEMISTRY,HEALTH,21,4,275

In [11]:
#(Настя) К-сть компаній, в яких відстані від метрополісу коливаються від 25-60
data.loc[(data.milesFromMetropolis <= 60) & (data.milesFromMetropolis >= 25)].companyId.count()

359948

In [12]:
#(Настя) Вивести максимальну зарплату серед тих у кого нема ступеня і кваліфікації
data.loc[(data.degree == "NONE") & (data.major == "NONE")].salary.max()

254

In [13]:
#(Ярина)Знайти працівника з максимальним досвідом роботи
data.loc[data.yearsExperience.idxmax()]

companyId                   COMP56
jobType                    JANITOR
degree                 HIGH_SCHOOL
major                         NONE
industry                    HEALTH
yearsExperience                 24
milesFromMetropolis             30
salary                         102
Name: 10, dtype: object

In [14]:
#(Ярина) знайти кількість працівників з досвідом роботи більше або рівним 10 років та зарплатою більше 130
data.loc[(data.yearsExperience >= 10) & (data.salary > 130)].jobType.count()

259958

In [15]:
#(Ярина) знайти скільки людей з нульовим досвідом та без вищої освіти заробляють більше середньої зарплати в кожній компанії
data.loc[(data.degree.isin(["NONE", "HIGH_SCHOOL"])) & (data.yearsExperience == 0) & (data.salary > data.salary.mean())].groupby("companyId").jobType.count()

companyId
COMP0     25
COMP1     28
COMP10    29
COMP11    24
COMP12    28
COMP13    24
COMP14    26
COMP15    31
COMP16    26
COMP17    23
COMP18    40
COMP19    33
COMP2     23
COMP20    27
COMP21    33
COMP22    22
COMP23    22
COMP24    36
COMP25    25
COMP26    26
COMP27    18
COMP28    28
COMP29    31
COMP3     32
COMP30    33
COMP31    28
COMP32    31
COMP33    32
COMP34    29
COMP35    26
          ..
COMP39    27
COMP4     26
COMP40    34
COMP41    38
COMP42    27
COMP43    35
COMP44    29
COMP45    24
COMP46    27
COMP47    25
COMP48    22
COMP49    35
COMP5     24
COMP50    25
COMP51    27
COMP52    29
COMP53    27
COMP54    30
COMP55    20
COMP56    28
COMP57    27
COMP58    29
COMP59    30
COMP6     35
COMP60    30
COMP61    35
COMP62    23
COMP7     32
COMP8     24
COMP9     23
Name: jobType, dtype: int64

In [16]:
#(Анна-Марія) Скільки компаній розвиваються в сфері "Finance" 
data.loc[(data.industry == "FINANCE")].industry.count()

142867

In [22]:
#(Анна-Марія) Яка мінімальна і максимальна зарплата в компаніях 
data.groupby('companyId').salary.agg([min,max])

           min  max
companyId
COMP0       20  285
COMP1       20  292
COMP10      24  278
COMP11      20  286
COMP12      20  281
COMP13      21  273
COMP14      20  283
COMP15      21  273
COMP16      20  274
COMP17      22  289
COMP18      21  292
COMP19      20  273
COMP2       20  268
COMP20      19  275
COMP21      20  287
COMP22      20  287
COMP23      19  279
COMP24      21  285
COMP25       0  267
COMP26      18  270
COMP27      17  273
COMP28      19  273
COMP29      18  284
COMP3       20  294
COMP30      20  282
COMP31      24  283
COMP32      20  282
COMP33      22  268
COMP34       0  272
COMP35      21  293
...        ...  ...
COMP39      20  285
COMP4       20  278
COMP40       0  272
COMP41      21  268
COMP42       0  281
COMP43      20  289
COMP44       0  294
COMP45      20  301
COMP46      18  284
COMP47      21  301
COMP48      20  283
COMP49      20  271
COMP5       23  290
COMP50      21  266
COMP51      21  278
COMP52      19  271
COMP53      22  278
COMP54      22  274
COMP55      20  283
COMP56      21  289
COMP57      19  263
COMP58      23  274
COMP59      21  288
COMP6       20  279
COMP60      20  298
COMP61      19  275
COMP62      20  286
COMP7       20  275
COMP8       20  277
COMP9       20  264

[63 rows x 2 columns]

In [20]:
#(Анна-Марія) Який статус потребує найбільшого досвіду 
data.groupby('degree').yearsExperience.mean().idxmax()

'DOCTORAL'